description = "Dofile example"

[tasks]

    [tasks.build]
    commands = [
        'echo "Ja hallo!',
        'ls -l'
    ]

    [tasks.clean]
    commands = [
        'echo "Ui ui ui ui ui!"',
    ]