description = "Dofile example"

[tasks]

    [tasks.ls]
    commands = [
        'ls /tmp',
        'ls -l'
    ]

    [tasks.date]
    commands = [
        'date',
    ]
    output = true

    [tasks.fail]
    commands = [
        'i-do-not-exist'
    ]

    [tasks.combined]
    tasks = [
        'ls',
        'date'
    ]