description = "Dofile example"

[tasks]

    [tasks.no-output]
    commands = [
        'true'
    ]

    [tasks.show-dir]
    commands = [
        'ls /tmp',
        'ls -l'
    ]
    output = true
    piped = true

    [tasks.print-date]
    commands = [
        'date',
    ]
    output = true

    [tasks.combined]
    tasks = [
        'show-dir',
        'print-date'
    ]